{
    "extends": [
        "airbnb-base"
    ],
    "plugins": [
        "align-assignments"
    ],
    "globals": {
        "document": "writable",
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "VariableDeclarator": true,
                    "Property": true,
                    "ImportDeclaration": true,
                    "AssignmentExpression": true,
                }
            }
        ],
        "key-spacing": [
            "error",
            {
                "align": "colon"
            }
        ],
        "align-assignments/align-assignments": [
            2,
            {
                "requiresOnly": false
            }
        ]
    }
}